.easy {
  color: #008000;
}

.intermediate {
  color: #2B65EC;
}

.difficult {
  color: #F52887
}

.tinylogo {
  margin-right: 10px;
}

.document {
    margin-top: 20px;
}


/* Adding Ubuntu Font styles, from Google Web Font includes in head.html */

body {
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Ubuntu', sans-serif;
}

pre {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.08em;
  margin-bottom: 2em;
}

blockquote p {
  font-size: 0.96em;
  font-style: italic;
}

/* Float challenges logos to the right of text */
img.mini-challenge{
    margin: 0px 0px 15px 15px;
    float: right;
}

/* Float challenges logos in the centre */
img.challenge{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
